
{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1> Ma super vue </h1>
 		<p>Date de création du billet :{{ globalticket.datecreation|date('d/m/Y') }}</p>

 		<h1> {{ globalticket.name }} </h1>

 		<h2>  Billet :{{ globalticket.ticketype }} </h2>
 		<h2> {{ globalticket.datevisit|date('d/m/Y')}} </h2>
 		<h2> {{ globalticket.mail}} </h2>

 		 {% for ticket in listTickets %}
 			<p> {{ticket.name}}, </p>
 			<p>{{ticket.firstname}}</p>
 			<p>{{ticket.country}}</p>
 			<p>{{ticket.birthdate|date('d/m/y')}}</p>
 			<p>{{ticket.price}}</p>
 			
 			
 		{% endfor %}



 		


{% endblock %}