
{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1> Récapitulatif de votre commande</h1>
  <div class="well">
 		<h3> {{ globalticket.name }} </h3>
 		<p>  Billet: {{ globalticket.ticketype }}, le {{ globalticket.datevisit|date('d/m/Y')}} </p>
 	
 		
 		{% for ticket in listTickets %}
 			<p> Nom: {{ticket.name}}. Prénom: {{ticket.firstname}} :  {{ticket.price}}€</p>
 		{% endfor %}
 		<p> Email: {{ globalticket.mail}} </p>
 </div>

 <p>
    <a href="{{ path('louvre_ticket_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la sélection des tickets
    </a>
    <a href="#" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-right"></i>
      Payer votre commande
    </a>
    
  </p>




 		


{% endblock %}