
{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1> Récapitulatif de votre commande</h1>
  <div class="well">
 		<h3> Visite du {{ globalticket.datevisit|date('d/m/Y')}} pour la {{ globalticket.ticketype }}  </h3>




          <table class="table table-bordered">
              <thead class="thead-inverse">
              <tr>
                  <th>Visiteur</th>
                  <th>Tarif</th>
                  <th>Prix</th>
              </tr>
              </thead>
              {% for ticket in listTickets %}
              <tbody>
              <tr>
                  <td>{{ticket.name}} {{ticket.firstname}}</td>
                  <td>{{ticket.type}}</td>
                  <td>
                      {{ticket.price}} €
                  </td>
              </tr>
              </tbody>
              {% endfor %}
              <tfoot>
              <tr>
                  <th colspan="2" class="text-right">
                      Total
                  </th>
                  <th>
                      {{ globalticket.totalprice }} €
                  </th>
              </tr>
              </tfoot>
          </table>


 		<p><b>Email:</b>  {{ globalticket.mail}} </p>


 </div>

 <p>
    <a href="{{ path('louvre_ticket_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la sélection des tickets
    </a>


      <form action="{{ path('louvre_ticket_charge', {'id': globalticket.id }) }}" method="post">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_public_key }}"
            data-description="Paiement des tickets"
            data-amount="{{ globalticket.totalprice }}00"
            data-locale="auto"
            data-currency="eur"
            data-label="Paiement par carte"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
          </script>
      </form>
    
    
  </p>




 		


{% endblock %}
