
{% extends "LouvreTicketBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1> Récapitulatif de votre commande</h1>
  <div class="well">
 		<h3> {{ globalticket.name }} </h3>
 		<p>  Billet: {{ globalticket.ticketype }}, le {{ globalticket.datevisit|date('d/m/Y')}} </p>
 	
 		
 		{% for ticket in listTickets %}
 			<p> Nom: {{ticket.name}}. Prénom: {{ticket.firstname}} :  {{ticket.price}}€</p>
 		{% endfor %}
 		<p> Email: {{ globalticket.mail}} </p>

    <h3>Prix total : {{ globalticket.totalprice }} €</h3> 
 </div>

 <p>
    <a href="{{ path('louvre_ticket_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la sélection des tickets
    </a>


      <form action="{{ path('louvre_ticket_charge', {'id': globalticket.id }) }}" method="post">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_public_key }}"
            data-description="Paiement des tickets"
            data-amount="{{ globalticket.totalprice }}00"
            data-locale="auto"
            data-currency="eur"
            data-label="Paiement par carte"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
          </script>
      </form>
    
    
  </p>




 		


{% endblock %}